#The following is built from an ESXi sshd_config and has the STIG findings from U_VMware_vSphere_6-0_ESXi_V1R5_STIG added
# Version 6.7.2.0

# running from inetd
# Port 2200
Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key

# Fips mode restricts ciphers to only FIPS-permitted ciphers
FipsMode yes

# OpenSSH 7.8 switched to af21/cs1, which has been observed to cause
# connection drops. Override to earlier values.
IPQoS lowdelay throughput

# vPP FCS_SSH_EXT.1.7: rekey after 1GB, 1H (instead of default 4GB for AES)
RekeyLimit 1G, 1H

SyslogFacility auth
LogLevel info

#V-63197
PermitRootLogin no
#PermitRootLogin yes

PrintMotd yes
PrintLastLog no

TCPKeepAlive yes

#V-63215
X11Forwarding no

#V-63501, V-63189
#Ciphers aes128-ctr,aes192-ctr,aes256-ctr,aes128-cbc,aes192-cbc,aes256-cbc
Ciphers aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr

#V-63203
MACs hmac-sha1,hmac-sha2-256,hmac-sha2-512

UsePAM yes
# only use PAM challenge-response (keyboard-interactive)
PasswordAuthentication no

#V-63187
Banner /etc/issue

Subsystem sftp /usr/lib/vmware/openssh/bin/sftp-server -f LOCAL5 -l INFO

AuthorizedKeysFile /etc/ssh/keys-%u/authorized_keys

#V-63223
# Timeout value of 10 mins. The default value of ClientAliveCountMax is 3.
# Hence, we get a  3 * 200 = 600 seconds timeout if the client has been
# unresponsive.
ClientAliveInterval 200
#V-63221
ClientAliveCountMax 3

# sshd(8) will refuse connection attempts with a probability of "rate/100"
# (30%) if there are currently "start" (10) unauthenticated connections.  The
# probability increases linearly and all connection attempts are refused if the
# number of unauthenticated connections reaches "full" (100)
MaxStartups 10:30:100
63501

#V-63225
MaxSessions 1

#V-63219
PermitTunnel no

#V-63217
AcceptEnv

#V-63213
GatewayPorts no

#V-63211
Compression no

#V-63209
StrictModes yes

#V-63207
KerberosAuthentication no

#V-63199
PermitEmptyPasswords no

#V-63191
Protocol 2

#V-63205
GSSAPIAuthentication no

#V-63201
PermitUserEnvironment no

#V-63195
HostbasedAuthentication no

#V-63193
IgnoreRhosts yes
